<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ログイン</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="base_box">
        <div class="box_left">
            <h1>Welcome Back</h1>
            <p>
                アカウントをお持ちの方は<br>
                ログインしてください。
            </p>
            <a href="{{ url_for('new') }}" class="switch-link">新規登録はこちら</a>
        </div>
        <div class="box_right">
            <h1>ログイン</h1><br>
            <form method="post">
            <label for="email">メールアドレス</label><br>
                <input type="email" id="email" name="email">
            <br>
            <label for="PS">PS</label><br>
                <input type="password" id="PS" name="password">
            <br>
            <button type="submit" class="log_BTN">ログイン</button>
            </form>
        </div>
    </div>
</body>
