<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ログイン</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="base_box">
        <div class="box_left">
            <h1>Welcome Back</h1>
            <p>
                アカウントをお持ちの方は<br>
                ログインしてください。
            </p>
            <a href="#" class="switch-link">新規登録はこちら</a>
        </div>
        <div class="box_right">
        </div>
    </div>
</body>
